<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Untitled</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesdet.css') }}">
        <style>
        h2{text-align: center;}
        
        </style>
    </head>
    <body>

      <aside class="logo">
        <img src = "logo.png">
      </aside>

      <div class="topnav">
       <a href="index.html">Home</a>
       <a href="profile.html">Profile</a>
       <a href="finances.html">Finances</a>
       <a class="active" href="documents.html">Documents</a>
       <a href="payments.html">Payments</a>
      </div>


            <div class='right-container'>
              <header>
                <h2>DOCUMENT VERIFICATION</h2>
                <div class='set'>
                    <div class='pets-name'>
                      <label for='pets-name'style="font-size:16px">Occupation</label>
                      <label for='pets-name' style="font-size: 10px">(upload your job ID)</label>
                      <!-- <input id='pets-name' placeholder="Source of income" type='text'> -->
                      <form>
                         <input type="file" id="myFile" name="filename">
                      </form>
                    </div>
                    <div class='pets-breed'>
                      <!-- <label for='pets-breed'>Annual Income</label> -->
                      <label for='pets-breed'style="font-size:16px">Annual Income</label>
                      <label for='pets-breed' style="font-size: 10px">(upload proof of income)</label>
                      <!-- <input id='pets-breed' placeholder="Annual income" type='text'> -->
                      <form>
                         <input type="file" id="myFile" name="filename">
                      </form>
                    </div>
                  </div>

                <div class='set'>
                  <!-- <div class='pets-breed'>
                    <label for='pets-breed'>Annual income</label>
                    <input id='pets-breed' placeholder="Annual income" type='text'>
                  </div> -->
                  <div class='pets-birthday'>
                    <!-- <label for='pets-birthday'>Other Assets</label> -->
                    <label for='pets-birthday'style="font-size:16px">Other Assets</label>
                    <label for='pets-birthday' style="font-size: 10px">(upload proof of assets worth)</label>
                    <!-- <input id='pets-birthday' placeholder='Property worth' type='text'> -->
                    <form>
                       <input type="file" id="myFile" name="filename">
                    </form>
                  </div>
                </div>
              </header>
              <footer>
                <div class='iset'>
                  <!-- <button id='back'>Back</button> -->
                  <button id='next'>Verify</button>
                </div>
              </footer>
            </div>
          </div>

    </body>
</html>
