<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Untitled</title>
        <link rel="stylesheet" href="../static/stylesdet.css">
        <style>
        h2{text-align: center;}
        </style>
    </head>
    <body>

      <aside class="logo">
        <img src = "logo.png">
      </aside>

      <div class="topnav">
       <a href="index.html">Home</a>
       <a href="profile.html">Profile</a>
       <a class="active" href="finances.html">Finances</a>
       <a href="documents.html">Documents</a>
       <a href="payments.html">Payments</a>
      </div>

        <!-- <div class='signup-container'>
            <div class='left-container'>
              <h1>
                TICTAX
              </h1>
            </div> -->
            <div class='right-container'>
              <header>
                <h2>Financial Details!</h2>
                <!-- <div class='set'>
                    <div class='pets-name'>
                      <label for='pets-name'>Name</label>
                      <input id='pets-name' placeholder="Full Name" type='text'>
                    </div>
                  </div> -->

                <div class='set'>
                  <div class='pets-breed'>
                    <label for='pets-breed'>PAN</label>
                    <input id='pets-breed' placeholder="permanent account number" type='text'>
                  </div>
                  <div class='pets-birthday'>
                    <label for='pets-birthday'>AADHAR Number</label>
                    <input id='pets-birthday' placeholder='aadhar card number' type='text'>
                  </div>
                </div>
                <!-- <div class='set'>
                  <div class='pets-breed'>
                      <label for='pets-breed'>Contact Number</label>
                      <input id='pets-breed' placeholder="Contact number" type='text'>
                  </div>
                </div> -->
                <!-- <div class='set'>
                    <div class='pets-breed'>
                      <label for='pets-breed'>Address line 1</label>
                      <input id='pets-breed' placeholder="address line 1" type='text'>
                    </div>
                    <div class='pets-birthday'>
                      <label for='pets-birthday'>Address line 2</label>
                      <input id='pets-birthday' placeholder='address line 2' type='text'>
                    </div>
                  </div> -->
                  <div class='set'>
                    <!-- <div class='pets-breed'>
                      <label for='pets-breed'>AADHAR Number</label>
                      <input id='pets-breed' placeholder="AADHAR NUMBER" type='text'>
                    </div> -->
                    <div class='pets-birthday'>
                      <label for='pets-birthday'>Occupation</label>
                      <input id='pets-birthday' placeholder='source of income' type='text'>
                    </div>
                  </div>
                  <div class='set'>
                    <div class='pets-breed'>
                      <label for='pets-breed'>Annual Income</label>
                      <input id='pets-breed' placeholder="annual income" type='text'>
                    </div>
                    <div class='pets-birthday'>
                      <label for='pets-birthday'>Assets Worth</label>
                      <input id='pets-birthday' placeholder='total worth of assets' type='text'>
                    </div>
                  </div>
              </header>
              <footer>
                <div class='iset'>
                  <!-- <button id='back'>Back</button> -->
                  <button id='next'>Save</button>
                </div>
              </footer>
            </div>
          </div>

    </body>
</html>
