<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Untitled</title>
        <link rel="stylesheet" href="css/stylesdet.css">
        <style>
        h2{text-align: center;}
        </style>
    </head>
    <body>

      <aside class="logo">
        <img src = "logo.png">
      </aside>

      <div class="topnav">
       <a href="index.html">Home</a>
       <a href="profile.html">Profile</a>
       <a href="finances.html">Finances</a>
       <a class="active" href="payments.html">Payments</a>
      </div>




        <!-- <div class='signup-container'> -->
            <!-- <div class='left-container'>
              <h1>
                TICTAX
              </h1>
            </div> -->
            <div class='right-container'>
              <header>
                <h2>PAYMENTS</h2>
                <div class='set'>
                    <div class='pets-name'>
                      <label for='pets-name'>Calculated Total Tax</label>
                      <input id='pets-name' placeholder="INR" type='text'>
                    </div>
                  </div>

                <div class='set'>
                  <div class='pets-breed'>
                    <label for='pets-breed'>Date</label>
                    <input id='pets-breed' placeholder="date of payment" type='text'>
                  </div>
                  <!-- <div class='pets-birthday'>
                    <label for='pets-birthday'>Receipt number</label>
                    <input id='pets-birthday' placeholder='Receipt number' type='text'>
                  </div> -->
                </div>
                <div class='set'>
                  <div class='pets-breed'>
                      <label for='pets-breed'>Confirm Password</label>
                      <input id='pets-breed' placeholder="enter your password" type='text'>
                  </div>
                </div>
                <!-- <div class='set'>
                    <div class='pets-breed'>
                      <label for='pets-breed'>Reward Confirmation</label>
                      <input id='pets-breed' placeholder="Reward Confirmation" type='text'>
                    </div>
                    <div class='pets-birthday'>
                      <label for='pets-birthday'>Reward Name</label>
                      <input id='pets-birthday' placeholder='Reward Name' type='text'>
                    </div>
                </div> -->
              </header>
              <footer>
                <div class='iset'>
                  <!-- <button id='back'>Back</button> -->
                  <button id='next'>Next</button>
                </div>
              </footer>
            </div>
          </div>

    </body>
</html>
